<div class="container" style="margin-top:10px;">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post radley-regular">
        <h2 class="blog-post-title">{{ article.title }}</h2>
        <p class="blog-post-meta">
          <span>{{ article.updated_at | date: '%B %d, %Y' }}</span>
          <a href="#">{{ article.author }}</a>
        </p>

        {% if article.image %}
          <hr>
          {{ article.image | image_url: width: 1000 | image_tag }}
        {% endif %}

        <hr>
        {{ article.content }}

        {% if blog.comments_enabled? %}
          <h2>{{ 'blog.article_comments' | t }}</h2>

          <div id="comments">
            {% paginate article.comments by 10 %}
              {% for comment in article.comments %}
                <div>
                  <p>{{ comment.author }}</p>
                  <p>
                    {{- comment.created_at | time_tag: format: 'date' -}}
                  </p>
                  <p>{{ comment.content }}</p>
                </div>
              {% endfor %}

              {{ paginate | default_pagination: anchor: 'comments' }}
            {% endpaginate %}
          </div>

          {% form 'new_comment', article %}
            <h2>{{ 'blog.comment_form_title' | t }}</h2>

            {{ form.errors | default_errors }}

            <div>
              <label for="author">{{ 'blog.comment_form_name' | t }}</label>
              <input type="text" name="comment[author]" id="author" value="{{ form.author }}" required>
            </div>

            <div>
              <label for="email">{{ 'blog.comment_form_email' | t }}</label>
              <input type="email" name="comment[email]" id="email" value="{{ form.email }}" required>
            </div>

            <div>
              <label for="body">{{ 'blog.comment_form_body' | t }}</label>
              <textarea name="comment[body]" id="body" required>{{ form.body }}</textarea>
            </div>

            <input type="submit" value="{{ 'blog.comment_form_submit' | t }}">
          {% endform %}
        {% endif %}
        <!-- /.blog-sidebar -->
      </div>
      <!-- /.row -->
    
    </div>
    <div class="col">
      <section class="featured-blogs">
    <div class="container">
        <h2>Featured Blogs</h2>
        <div class="blog-grid">
            {% for article in blogs.first.articles %} {% comment %} change "shopify" to the category of your blogs {% endcomment %}
                <article class="blog-card">
                    {% comment %} <img  class="blog-image"> {% endcomment %}
                    <div class="blog-content">
                        <h3 class="blog-title">{{ article.title }}</h3>
                        <p class="blog-excerpt">{{ article.content }}</p>
                        <a href="{{ article.url }}" class="blog-link">
                            Read More
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                            </svg>
                        </a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:general.article",
  "settings": []
}
{% endschema %}
