{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<div class="container">
  <h1>{{ 'cart.title' | t }}</h1>
  <form action="{{ routes.cart_url }}" method="post">
    <table class="table">
      {% for item in cart.items %}
        <tr>
          <td style="width:20%;">
            {% render 'image', image: item.image, url: item.url %}
          </td>
          <td class="product-title-table">
            <p class="inconsolata-expanded">{{ item.quantity }}x {{ item.product.title }}</p>
            <p class="inconsolata-expanded">{{ item.product.price | money }}</p>
            {{ 'cart.remove' | t | link_to: item.url_to_remove }}
          </td>
          <td class="quantity-table">
            <input type="text" name="updates[]" value="{{ item.quantity }}">
            <input type="submit" value="{{ 'cart.update' | t }}">
            <p class="inconsolata-expanded">Subtotal {{ item.quantity | times: item.product.price | money }}</p>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p class="inconsolata-expanded">Total:</p>
    <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
  </form>
</div>
{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
