<aside
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-content pinyon-script-regular collapse"
  style="width: auto;height:100%;"
  id="cart-sidebar"
>
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Cart</span>
  </a>
  <hr>
  <div>
    {% for item in cart.items %}
      <div class="row">
        <div class="col" style="width:10%;">
          {% render 'image', image: item.image, url: item.url %}
        </div>
        <div class="col product-title-table inconsolata-expanded">
          <p class="">{{ item.quantity }}x {{ item.product.title }}</p>
          <p id="price" class="">{{ item.product.price | money }}</p>
          <input
            style="width:5%"
            type="text"
            name="updates[]"
            value="{{ item.quantity }}"
            id="quantity"
            onchange="updateQuantity();"
          >
          <p class="inconsolata-expanded">
            Subtotal <span id="subtotal">{{ item.quantity | times: item.product.price | money }}</span>
          </p>
          {{ 'cart.remove' | t | link_to: item.url_to_remove }}
        </div>
      </div>
    {% endfor %}
  </div>
</aside>
<script>
    document.getElementById('cart-toggle').addEventListener('click', function() {
    const sidebar = document.getElementById('cart-sidebar');
    sidebar.classList.toggle('active'); // Toggle the 'active' class
  });
</script>

{% schema %}
{
  "name": "cart-sidebar",
  "settings": []
}
{% endschema %}
