[
{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<div class="container">
  <h1>{{ 'cart.title' | t }}</h1>
  <form action="{{ routes.cart_url }}" method="post">
    <table class="table">
      {% for item in cart.items %}
        <tr>
          <td style="width:20%;">
            {% render 'image', image: item.image, url: item.url %}
          </td>
          <td class="product-title-table inconsolata-expanded">
            <p class="">{{ item.quantity }}x {{ item.product.title }}</p>
            <p id="price" class="">{{ item.product.price | money }}</p>
            <input
              style="width:5%"
              type="text"
              name="updates[]"
              value="{{ item.quantity }}"
              id="quantity"
              onchange="updateQuantity();"
            >
            <p class="inconsolata-expanded">
              Subtotal <span id="subtotal">{{ item.quantity | times: item.product.price | money }}</span>
            </p>
            {{ 'cart.remove' | t | link_to: item.url_to_remove }}
          </td>
        </tr>
      {% endfor %}
    </table>
    <p class="inconsolata-expanded">Total:<span id="total"></span></p>
    <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
  </form>
</div>
<script>
  updateTotal();
  function updateQuantity(){

    const quantity = document.getElementById("quantity").value;
    let price = document.getElementById("price").innerText;
    price = price.substring(1)

    document.getElementById("subtotal").innerText = "$" + quantity*price
    console.log(quantity*price)
    updateTotal();

  }
  function updateTotal(){
    const subtotals = document.querySelectorAll("#subtotal");
    let totals = [];

    for (let i = 0; i < subtotals.length; i++){
      totals.push(subtotals[i].innerText);
    }
    let total;

    console.log(totals[0])
    for (let i = 0; i < totals.length; i++){
      totals[i] = totals[i].substring(1);
      total = total + totals[i];
    }
    document.getElementById("total").innerText = "$" + total;
  }
</script>
{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
