[
{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<div class="d-flex flex-column flex-shrink-0 p-3 h-100 text-white bg-dark position-sticky top-0" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table"></use>
        </svg>
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid"></use>
        </svg>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        Customers
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <h1>{{ 'cart.title' | t }}</h1>
  <form action="{{ routes.cart_url }}" method="post">
    <table class="table">
      {% for item in cart.items %}
        <tr>
          <td style="width:20%;">
            {% render 'image', image: item.image, url: item.url %}
          </td>
          <td class="product-title-table inconsolata-expanded">
            <p class="">{{ item.quantity }}x {{ item.product.title }}</p>
            <p id="price" class="">{{ item.product.price | money }}</p>
            <input
              style="width:5%"
              type="text"
              name="updates[]"
              value="{{ item.quantity }}"
              id="quantity"
              onchange="updateQuantity();"
            >
            <p class="inconsolata-expanded">
              Subtotal <span id="subtotal">{{ item.quantity | times: item.product.price | money }}</span>
            </p>
            {{ 'cart.remove' | t | link_to: item.url_to_remove }}
          </td>
        </tr>
      {% endfor %}
    </table>
    <p class="inconsolata-expanded">Total: $<span id="total"></span></p>
    <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
  </form>
</div>
<script>
  updateTotal();
  function updateQuantity(){

    const quantity = document.getElementById("quantity").value;
    let price = document.getElementById("price").innerText;
    price = price.substring(1)

    document.getElementById("subtotal").innerText = "$" + quantity*price
    console.log(quantity*price)
    updateTotal();

  }
  function updateTotal(){
    const subtotals = document.querySelectorAll("#subtotal");
    let totals = [];

    for (let i = 0; i < subtotals.length; i++){
      totals.push(subtotals[i].innerText);
    }
    let total;

    console.log(totals[0]);
    for (let i = 0; i < totals.length; i++){
      totals[i] = totals[i].substring(1);
      total = total + totals[i];
    }
    console.log(total)
    document.getElementById("total").innerText = total;
  }
</script>
{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
