<header class="full-width">
  <div class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand pinyon-script-regular text-light mx-auto" style="font-size:25px;" href="/index"
        >J. Hawks</a
      >
      <div class="header__menu">
        {% for link in section.settings.menu.links %}
          {{ link.title | link_to: link.url }}
        {% endfor %}
      </div>
      <div class="header__icons">
        {% if shop.customer_accounts_enabled %}
          {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
        {% endif %}

        <a href="{{ routes.cart_url }}">
          {% if cart.item_count > 0 %}
            <sup>{{ cart.item_count }}</sup>
          {% endif %}

          {{ 'icon-cart.svg' | inline_asset_content }}
        </a>
      </div>
    </div>
  </div>
</header>
<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-content"
  style="width: 280px; height: 100vw; float:left;"
>
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Add To Cart</span>
  </a>
  <hr>

  <hr>
</div>
<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-content"
  style="width: 280px; height: 100vw; float:right;"
>
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Add To Cart</span>
  </a>
  <hr>
  <form action="{{ routes.cart_url }}" method="post">
    <table class="table">
      {% for item in cart.items %}
        <tr>
          <td style="width:20%;">
            {% render 'image', image: item.image, url: item.url %}
          </td>
          <td class="product-title-table inconsolata-expanded">
            <p class="">{{ item.quantity }}x {{ item.product.title }}</p>
            <p id="price" class="">{{ item.product.price | money }}</p>
            <input
              style="width:5%"
              type="text"
              name="updates[]"
              value="{{ item.quantity }}"
              id="quantity"
              onchange="updateQuantity();"
            >
            <p class="inconsolata-expanded">
              Subtotal <span id="subtotal">{{ item.quantity | times: item.product.price | money }}</span>
            </p>
            {{ 'cart.remove' | t | link_to: item.url_to_remove }}
          </td>
        </tr>
      {% endfor %}
    </table>
    <p class="inconsolata-expanded">Total: $<span id="total"></span></p>
    <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
  </form>

  <hr>
</div>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
