{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}
 {% render 'modal' %}
<script type="text/javascript">
  window.$prDoranInit = window.$prDoranInit || {};
  window.$prDoranInit.ratingWidgetReview = window.$prDoranInit.ratingWidgetReview || {};
  var productReview = {
    reviewsCount: {{ product.metafields.doran.prReviewCount }},
    averageRating: {{ product.metafields.doran.prAvgRating }},
    stars1: {{ product.metafields.doran.prStar1 }},
    stars2: {{ product.metafields.doran.prStar2 }},
    stars3: {{ product.metafields.doran.prStar3 }},
    stars4: {{ product.metafields.doran.prStar4 }},
    stars5: {{ product.metafields.doran.prStar5 }},
    questionsCount: 0,
    isDarkMode: false
  };
  if (typeof window.$prDoranInit.ratingWidgetReview['14739581337972'] === 'undefined') {
    window.$prDoranInit.ratingWidgetReview['14739581337972'] = productReview;
  } else {
    var existingProductReview = window.$prDoranInit.ratingWidgetReview['14739581337972'];
    window.$prDoranInit.ratingWidgetReview['14739581337972'] = Object.assign(existingProductReview, productReview);
  }
</script>

<div class="container">
  <div class="row gx-5 mt-4">
    <div class="col-lg">
      <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        {% for image in product.images %}
          <div class="mySlides" style="display:block;">
            {% render 'image', class: 'product-image', image: image %}
          </div>
        {% endfor %}

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
        {% for image in product.images %}
          <span class="dot" onclick="currentSlide({{ forloop.index }})"></span>
        {% endfor %}
      </div>
    </div>

    <div class="col-sm inconsolata-expanded">
      <div class="product-info">
        <h1>{{ product.title }}</h1>
        <p>
          <s>{{ product.compare_at_price | money }}</s>
          {{ product.price | money }}
          <span data-dr="rating-widget" data-product-id="14739581337972" data-class-name="">
            <span class="dr-relative">
              <iframe
                name="Overview Rating"
                title="Overview Rating"
                class="dr-w-full dr-h-full dr-border-0"
                style="height: 20px; width:1 100%;"
              ></iframe>
            </span>
          </span>
        </p>
        <p>{{ product.description }}</p>
      </div>

      <div id="product-form" class="product-form">
        {% form 'product', product %}
          {% assign current_variant = product.selected_or_first_available_variant %}

          <select
            name="id"
            class="sort-by"
            {% if product.variants.size <= 1 %}
              style="display:none;"
            {% endif %}
          >
            {% for variant in product.variants %}
              <option
                id="variant-id"
                value="{{ variant.id }}"
               {% comment %} {% if variant == current_variant %}
                  selected="selected"
                {% endif %} {% endcomment %}
              >
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
          </select>

          <label>Quantity:</label>
          <input
            name="quantity"
            type="number"
            class="quantity-input"
            placeholder="Quantity"
            min="1"
            value="1"
          >

          <input
            id="add-to-cart-button"
            type="submit"
            class="ATCBtn bg-dark mt-4"
            value="Add to cart"
            onclick="fetchCartItems"
	    >

          
          {{ form | payment_button }}
        {% endform %}
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="container radley-regular" id="expanded-description-container"></div>



<script>
//	const variantDropDown = document.getElementById("variant-id");
//variantDropDown.addEventListener('change',function(){
//	  console.log("change");
//    var selectedValue = this.value; // Get the selected value
//  riantDropDown.selected = true
    //console.log('Selected:', selectedValue); // Optional: Log the selected value
 //   })

    const form = document.getElementById('product-form');
      form.addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission
        let productId = document.querySelector('select[name="id"]').value;
        const quantity = form.querySelector('input[name="quantity"]').value;

                const data = {
            id: productId,
            quantity: quantity
        };

        console.log(data)
        fetch('/cart/add.js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            updateCartCount();
                  fetchCartItems();
		document.getElementById("cart-toggle").click();

        })
        .catch(error => {
            alert('There was an error adding the product to the cart: ' + error.message);
        });
    });

  document.getElementById("expanded-description").style.display = 'none';
  document.getElementById("expanded-description-container").innerHTML = document.getElementById("expanded-description").innerHTML;
    let slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
{% stylesheet %}
  .add-to-cart-animation{
    background-color:green;
  }
    .shopify-block  {
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
   }
   @media (min-width: 768px) {
  .shopify-block  {
       width: 750px;
     }
   }
   @media (min-width: 992px) {
     .shopify-block  {
       width: 970px;
     }
   }
   @media (min-width: 1200px) {
     .shopify-block {
       width: 1170px;
     }
   }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
